body {
    background-color: #F2F5F7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.d-flex {
    display: flex;
}

.i-center {
    align-items: center;
}

.t-center {
    text-align: center;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #2e2e2e;
    word-break: normal;
}

h1 {
    font-size: 35px;
    font-weight: 500;
}

h2 {
    font-size: 30px;
    font-weight: 500;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}


/*botões*/

.btn-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.btn {
    font-size: 19px;
    font-weight: bold;
    width: 125px;
    height: 45px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.btn-sm {
    font-size: 16px;
    font-weight: bold;
    width: 75px;
    height: 25px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.btn-main {
    color: #ffffff;
    border: 1px solid #60C8DA;
    background: #60C8DA;
}

.btn-main:hover {
    color: #60C8DA;
    text-decoration: none;
    border: 1px solid #60C8DA;
    background: none;
    transition: .5s ease-out 0s;
}

.btn-main:active {
    background: none;
    transition: .5s;
    box-shadow: inset 0px 1px 3px 1px #858585;
    transition: box-shadow .1s ease-out 0s;
}

.btn-secondary {
    color: #2e2e2e;
    border: 1px solid #2e2e2e;
}

.btn-secondary:hover {
    color: #ffffff;
    background: #2e2e2e;
    border: 1px solid #2e2e2e;
    transition: .5s ease-out 0s;
}

.btn-secondary:active {
    color: #ffffff;
    background: #2e2e2e;
    border: 1px solid #2e2e2e;
    transition: .5s ease-out 0s;
    box-shadow: inset 0px 1px 3px 1px #858585;
    transition: box-shadow .1s ease-out 0s;
}

.btn-danger {
    color: #ffffff;
    border: 1px solid #d40000;
    background: #d40000;
}

.btn-danger:hover {
    color: #d40000;
    text-decoration: none;
    border: 1px solid #d40000;
    background: none;
    transition: .5s ease-out 0s;
}

.btn-danger:active {
    background: none;
    transition: .5s;
    box-shadow: inset 0px 1px 3px 1px #858585;
    transition: box-shadow .1s ease-out 0s;
}

.btn-success {
    color: #ffffff;
    border: 1px solid #3fd655;
    background: #3fd655;
}

.btn-success:hover {
    color: #3fd655;
    text-decoration: none;
    border: 1px solid #3fd655;
    background: none;
    transition: .5s ease-out 0s;
}

.btn-success:active {
    background: none;
    transition: .5s;
    box-shadow: inset 0px 1px 3px 1px #858585;
    transition: box-shadow .1s ease-out 0s;
}


/*fim botões*/


/*forms e inputs */

form {
    margin: 0 50px;
    width: calc(100% - 50px);
    height: auto;
}

input,
select {
    border: 1px solid #60C8DA !important;
    border-radius: 6px;
    width: 100%;
    height: 35px;
    transition: border 1s;
    box-shadow: 0px -1px 5px -1px #A3A1A1;
}

input:hover {
    border: 3px solid #60C8DA !important;
    border-radius: 6px;
    width: 100%;
    height: 35px;
    transition: border 1s;
}

select:hover {
    border: 3px solid #60C8DA !important;
    border-radius: 6px;
    width: 100%;
    height: 35px;
    transition: 1s;
}

input:focus {
    border: 3px solid #60C8DA !important;
    border-radius: 6px;
    width: 100%;
    height: 35px;
    transition: 1s;
    box-shadow: 0px -1px 10px -1px #A3A1A1;
}

select:focus {
    border: 3px solid #60C8DA !important;
    border-radius: 6px;
    width: 100%;
    height: 35px;
    transition: 1s;
    box-shadow: 0px -1px 10px -1px #A3A1A1;
}


/*fim forms e inputs */


/*margens*/

.mx-1 {
    margin-right: 5px;
    margin-left: 5px;
}

.my-1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mx-2 {
    margin-right: 10px;
    margin-left: 10px;
}

.my-2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mx-3 {
    margin-right: 15px;
    margin-left: 15px;
}

.my-3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mx-4 {
    margin-right: 20px;
    margin-left: 20px;
}

.my-4 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mx-5 {
    margin-right: 25px;
    margin-left: 25px;
}

.my-5 {
    margin-top: 25px;
    margin-bottom: 25px;
}


/*fim margens*/


/*paddings*/

.px-1 {
    padding-right: 5px;
    padding-left: 5px;
}

.py-1 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.px-2 {
    padding-right: 10px;
    padding-left: 10px;
}

.py-2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.px-3 {
    padding-right: 15px;
    padding-left: 15px;
}

.py-3 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.px-4 {
    padding-right: 20px;
    padding-left: 20px;
}

.py-4 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.px-5 {
    padding-right: 25px;
    padding-left: 25px;
}

.py-5 {
    padding-top: 25px;
    padding-bottom: 25px;
}


/*fim paddings*/


/*container geral*/

.container {
    width: 95%;
    margin: 0 auto;
}


/*fim container geral*/


/*início header*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    z-index: 4;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
}

.header-title {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 20px;
}

.header-title a {
    text-decoration: none;
    color: inherit;
}

.header-nav-link {
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    transition: .5s;
    display: block;
}

.modern-header-bg {
    background: #ffffff;
}

.modern-header-bg .header-title {
    color: #60C8DA !important;
}

.modern-header-bg .header-nav-link {
    color: #60C8DA !important;
}

.modern-header-bg .header-nav-link:last-child {
    padding: 10px;
    margin-bottom: 10px;
    color: #60C8DA;
    text-decoration: none;
    transition: .5s;
    display: block;
    border: 1px solid #60C8DA;
    border-radius: 10px;
}

.header-nav-link-user:hover {
    padding: 10px;
    margin-bottom: 10px;
    color: #ffffff !important;
    text-decoration: none;
    transition: .5s;
    display: block;
    background: #60C8DA;
    border: 1px solid #60C8DA;
    border-radius: 10px;
}


/*dropdown*/

.dropdown {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    height: auto;
}

.dropdown-ul {
    display: none;
    position: absolute;
    width: 150px;
    height: auto;
    margin-top: 30px;
    background-color: #ffffff !important;
    border: 1px solid #60C8DA;
    border-radius: 10px;
}

.dropdown-item {
    padding: 10px;
}

.dropdown-item a {
    text-decoration: none;
    transition: text-decoration .5s;
    color: #60C8DA;
}

.dropdown:hover .dropdown-ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.dropdown-item a:hover {
    text-decoration: underline;
    transition: text-decoration .5s;
}


/*fim dropdown*/

.primary-header-bg {
    background: #ffffff;
}

.primary-header-bg .header-title {
    color: #2e2e2e !important;
}

.primary-header-bg .header-nav-link {
    color: #2e2e2e !important;
}

.primary-header-bg .header-nav-link:last-child {
    color: #2e2e2e;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    transition: .5s;
    display: block;
    border: 1px solid #2e2e2e;
    border-radius: 500px;
}

.dark-header-bg {
    background: #2e2e2e;
}

.dark-header-bg .header-title {
    color: #ffffff !important;
}

.dark-header-bg .header-nav-link {
    color: #ffffff !important;
}

.dark-header-bg .header-nav-link:last-child {
    color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    transition: .5s;
    display: block;
    border: 1px solid #ffffff;
    border-radius: 500px;
}


/*fim header*/


/*main content*/

.main {
    margin-top: 90px;
    margin-bottom: 20px;
}

.main .container {
    background: #ffffff;
    padding-top: 25px;
    height: auto;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ffffff;
    height: 100px;
}

.footer .container {
    background: #ffffff;
    height: auto;
}

.footer p {
    color: #60C8DA !important;
    font-weight: 700;
}

.row {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
}

.col-100,
.col-75,
.col-50,
.col-25,
.col-12 {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    justify-content: space-around;
    order: 2;
}

.col-100 {
    width: calc(100% - 20px);
}

.col-75 {
    width: calc(75% - 20px);
}

.col-50 {
    width: calc(50% - 20px);
}

.col-25 {
    width: calc(25% - 20px);
}

.col-12 {
    width: calc(12.5% - 20px);
}


/*Cards*/

.card {
    display: grid;
    grid-template-areas: "card-head" "card-body";
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    position: relative;
    text-align: center;
    max-width: 250px;
    height: 100%;
    border: 1px solid #60C8DA;
    border-radius: 10px;
    box-shadow: 0px -1px 9px -1px #A3A1A1;
}

.card-header {
    grid-area: card-head;
    max-width: auto;
    padding: .75rem;
}

.card-body {
    grid-area: card-body;
    padding: .75rem;
}


/*fim Cards*/


/*alerts*/

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #60C8DA;
    width: 100%;
    min-height: 30px;
    border-radius: 8px;
}

.info p {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

.close-info {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    background: none !important;
    border: none !important;
}

.alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fac5c5;
    min-height: 30px;
    border-radius: 8px;
    padding-left: 3%;
    padding-right: 3%;
    width: calc(100% - 6%);
}

.alert p {
    font-size: 14px;
    font-weight: bold;
    color: #772626;
}

.close-alert {
    color: #772626;
    font-size: 14px;
    font-weight: 500;
    background: none !important;
    border: none !important;
}

.attention {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #faf7c5;
    min-height: 30px;
    border-radius: 8px;
    padding-left: 3%;
    padding-right: 3%;
    width: calc(100% - 6%);
}

.attention p {
    font-size: 14px;
    font-weight: bold;
    color: #c8a23a;
}

.close-attention {
    color: #c8a23a;
    font-size: 14px;
    font-weight: 500;
    background: none !important;
    border: none !important;
}

.success {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #61cc64;
    min-height: 30px;
    border-radius: 8px;
    padding-left: 3%;
    padding-right: 3%;
    width: calc(100% - 6%);
}

.success p {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

.close-success {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    background: none !important;
    border: none !important;
}


/*fim alert*/


/*table*/

table {
    width: 100%;
}

th {
    background: #60C8DA;
    color: #ffffff;
    font-weight: bold;
    padding: .5%;
    border: 1px solid #60C8DA;
}

td {
    text-align: center;
    padding: .5%;
    border: 1px solid #60C8DA;
}


/*fim table*/

@media(max-width: 768px) {
    .header-nav {
        flex-direction: column;
    }
    .header .container {
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }
    /*table*/
    th {
        font-weight: bold;
        font-size: 10px;
        padding: .1%;
    }
    td {
        text-align: center;
        padding: .1%;
        font-size: 10px;
    }
    /*fim table*/
}

@media (min-width: 781px) and (max-width: 1024px) {}

@media (min-width: 480px) and (max-width: 780px) {
    .col-100,
    .col-75 {
        width: 100%;
        height: auto;
    }
    .col-50,
    .col-25,
    .col-12 {
        width: 50%;
        height: auto;
    }
}

@media (min-width: 249px) and (max-width: 480px) {
    .col-100,
    .col-75,
    .col-50,
    .col-25,
    .col-12 {
        width: 100%;
        height: auto;
    }
    .order-offset {
        order: 1;
    }
    form {
        width: 100%;
        height: auto;
    }
    input,
    select {
        width: 100% !important;
    }
    /*table*/
    th {
        font-weight: bold;
        font-size: 9px;
        padding: .1%;
    }
    td {
        font-size: 9px;
        height: 54px;
    }
    td .btn-sm {
        width: 45px;
        height: 15px;
        padding: 5px;
        margin-top: 5px;
        font-size: 10px;
    }
    /*fim table*/
}