h2,
h3,
label,
select,
input {
    color: #60C8DA !important;
    font-weight: 700;
}

.t-line:nth-child(even) {
    background: none;
}

.t-line:nth-child(odd) {
    background: #ececec;
}

.t-line td:nth-child(n+2):nth-child(-n+4) {
    background-color: #aae69d;
}

.t-line td:nth-child(5) {
    background-color: #d5e69d;
}